<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head layout:fragment="header">

    <title>Mail Oluştur</title>
    <!-- summernote -->
    <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.css}" >
    <style>

        .LoadImage {
            height: 100%;
            box-sizing: border-box;
            max-height: 50px;
            max-width: 960px;
        }

        .upload-progress-bar {
            height: 20px;
            border: 1px solid #ddd;
            width: 100%;
            clear: both;
        }

        .progress-bar {
            background: #bde1ff;
            width: 0;
            height: 20px;
        }
    </style>
    <!-- Summernote -->
    <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- jquery-validation -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
    <!-- Page Script -->
    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    //"Form successful submitted!"
                }
            });
            $('#mailForm').validate({
                rules: {
                    mailAddress: {
                        required: true,
                        email: true,
                    }
                },
                messages: {
                    mailAddress: {
                        required: "Please enter a email address",
                        email: "Please enter a vaild email address"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
</head>
<body layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Mail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Mail</a></li>
                        <li class="breadcrumb-item active">Yeni mail gönder</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <form class="form-horizontal w-100" id="mailForm" name="mail" data-submit="ajaxForm" role="form" method="POST" action="/email"
                      enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${mail != null ? mail.getId():''}">
                    <input id="mailType" type="hidden" name="type" value="sent">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title" th:text='${mail != null ? "Taslak Mail":"Yeni Mail"}'></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- radio -->
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="customRadio1" name="to" checked value="one">
                                            <label for="customRadio1" class="custom-control-label">Tek Kullanıcıya</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="customRadio2" name="to" value="everyone">
                                            <label for="customRadio2" class="custom-control-label">Tüm Kullanıcılar</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="customRadio3" name="to" value="country">
                                            <label for="customRadio3" class="custom-control-label">Seçilen Ülke Kullanıcıları</label>
                                        </div>
                                    </div>
                                    <script>
                                        $('input[type=radio][name=to]').change(function() {
                                            if ($(this).attr("id") == 'customRadio1') {
                                                $('#exampleInputEmail').removeAttr("disabled");
                                                $('#countryCode').attr("disabled","disabled");
                                            }
                                            else {
                                                $('#countryCode').attr("disabled","disabled");
                                                $('#exampleInputEmail').attr("disabled","disabled");
                                                if ($(this).attr("id") == 'customRadio3')
                                                    $('#countryCode').removeAttr("disabled");
                                            }
                                        });
                                    </script>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ülke</label>
                                        <select id="countryCode" name="countryCode" class="custom-select" disabled="disabled">
                                            <th:block th:each="language : ${translationLanguages}">
                                                <option th:selected="${language.code == 'tr'} ? 'true' : 'false'"
                                                        th:text="${language.country}" th:value="${language.code}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail"></label>
                                <input type="email" name="mailAddress" class="form-control" id="exampleInputEmail" th:value="${mail != null ? mail.getMailAddress():''}" placeholder="Kime:">
                            </div>
                            <div class="form-group">
                                <input class="form-control" th:value="${subject}" name="subject" placeholder="Konu:">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="category" th:value="${mail != null ? mail.getCategory():''}" placeholder="Taslak ise Kategori:">
                            </div>
                            <div class="form-group">
                            <textarea class="compose-textarea form-control" th:text="${body}" name="body" rows="15">
                            </textarea>
                            </div>
                            <div class="form-group">

                                <div class="btn btn-default btn-file">
                                    <i class="fas fa-paperclip"></i> Attachment (Dosya eki)
                                    <input type="file" name="attachment" data-read='source' >
                                </div>
                                <p class="help-block">Max. 2MB</p>
                            </div>
                            <div class="row panel-body">
                                <img class="LoadImage" data-content="source"/>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button id="saveDraft" type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i><span th:text='${mail != null ? " Taslağı Güncelle":" Taslak Olarak Kaydet"}'></span>
                                </button>
                                <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                            </div>
                            <button onclick="$(this).closest('form').trigger('reset');" type="reset" class="btn btn-default"><i class="fas fa-times"></i> Temizle</button>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <div class="upload-progress"><div class="progress-bar"></div></div>
                </form>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>
