<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head layout:fragment="header">

</head>
<body layout:fragment="content">
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div th:replace="/mailbox/mail-menu :: menu"></div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Read Mail</h3>

                        <div class="card-tools">
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5 th:text="${mail.getSubject()}">Message Subject Is Placed Here</h5>
                            <h6 >To: <span th:text="${mail.getMailAddress()}"></span>
                                <span class="mailbox-read-time float-right" th:text="${mail.getIDate()}"></span></h6>
                        </div>
                        <!-- /.mailbox-read-info -->
                        <div class="mailbox-controls with-border text-right">
                            <div class="btn-group">
                                <a type="button" th:href='${"/mailbox"}'
                                        class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
                                    <i class="far fa-trash-alt"></i></a>
                                <a type="button" th:href='${"/mailbox/"+(mail.getId()-1)}'
                                        class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
                                    <i class="fas fa-reply"></i></a>
                                <a type="button" th:href='${"/mailbox/"+(mail.getId()+1)}'
                                        class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
                                    <i class="fas fa-share"></i></a>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" onclick="window.print()" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
                                <i class="fas fa-print"></i></button>
                        </div>
                        <!-- /.mailbox-controls -->
                        <div th:utext="${mail.getBody()}" class="mailbox-read-message" style="min-height: 300px;">
                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-white">

                    </div>
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <button type="button" onclick="window.print()" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
        <!-- /.row -->
</section>
<!-- /.content -->
</body>
</html>
