<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head layout:fragment="header">
    <title>Tasarımlar</title>
    <!-- summernote -->
    <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.css}" >
    <style>

        .LoadImage {
            height: 100%;
            box-sizing: border-box;
            max-height: 50px;
            max-width: 960px;
        }

        .upload-progress-bar {
            height: 20px;
            border: 1px solid #ddd;
            width: 100%;
            clear: both;
        }

        .progress-bar {
            background: #bde1ff;
            width: 0;
            height: 20px;
        }
    </style>
    <!-- Summernote -->
    <script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- Ekko Lightbox -->
    <script th:src="@{/plugins/ekko-lightbox/ekko-lightbox.min.js}"></script>
    <!-- Filterizr-->
    <script th:src="@{/plugins/filterizr/jquery.filterizr.min.js}"></script>
</head>
<body layout:fragment="content">
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

            $('.filter-container').filterizr({gutterPixels: 3});
            $('.btn[data-filter]').on('click', function() {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })
    </script>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tasarımlar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Tasarımlar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="card-title">
                                Html Mail Tasarımları
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="btn-group w-100 mb-2">
                                    <a class="btn btn-info active" href="javascript:void(0)" data-filter="all"> All items </a>
                                    <th:block th:each="category : ${draftCategories}">
                                        <a class="btn btn-info" href="javascript:void(0)" th:data-filter="${category}" th:text="${category}">Category</a>
                                    </th:block>
                                </div>
                                <div class="mb-2">
                                    <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle> Shuffle items </a>
                                    <div class="float-right">
                                        <select class="custom-select" style="width: auto;" data-sortOrder>
                                            <option value="index"> Sort by Position </option>
                                            <option value="sortData"> Sort by Custom Data </option>
                                        </select>
                                        <div class="btn-group">
                                            <a class="btn btn-default" href="javascript:void(0)" data-sortAsc> Ascending </a>
                                            <a class="btn btn-default" href="javascript:void(0)" data-sortDesc> Descending </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div class="filter-container p-0 row">

                                    <th:block th:each="draft : ${drafts}">


                                        <div class="filtr-item" style="width: 100%" th:data-category="${draft.getCategory() != null ? draft.getCategory(): 1}" data-sort="white sample">
                                            <div class="card card-secondary">
                                                <div class="card-header">
                                                    <h3 class="card-title" th:text="${draft.getSubject()}">Quick Example</h3>
                                                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white"></a>
                                                </div>
                                                <!-- /.card-header -->
                                                <!-- form start -->
                                                <form role="form">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <textarea class="draft-textarea form-control" th:text="${draft.getBody()}" name="body" rows="15"></textarea>
                                                        </div>

                                                    </div>
                                                    <!-- /.card-body -->

                                                    <div class="card-footer">
                                                        <a type="button" id="removeDraft" th:href='${"/drafts/"+draft.getId()}' class="btn btn-danger float-left">Sil</a>
                                                        <a type="submit" th:href='${"/email?id="+draft.getId()}' class="btn btn-primary float-right">Kullan</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </th:block>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>
