<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head layout:fragment="header">
</head>
<body layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Translate</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Compose</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <form class="form-horizontal w-100" name="mail" data-submit="ajaxForm" role="form" method="POST" action="/email"
                      enctype="multipart/form-data" style="width:100%">

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Translate</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <input class="form-control" name="" placeholder="Başlık">
                        </div>
                        <div class="form-group">
                        <textarea class="form-control"  name="body" placeholder="İçerik" style="height: 300px">

                        </textarea>
                        </div>
                        <div class="form-group">

                            <button class="translate btn btn-default btn-file">
                                <i class="fas fa-language"></i> Çevir
                            </button>
                        </div>
                        <div class="row panel-body">
                            <img class="LoadImage" data-content="source"/>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Draft
                            </button>
                            <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                        </div>
                        <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <div class="upload-progress"><div class="progress-bar"></div></div>
                </form>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>
